<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AbakTools.Web</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" role="button" data-toggle="collapse" href="#catalog">
                <span class="oi oi-home"></span> Kartoteki
            </a>
            <div class="collapse" id="catalog">
                <a class="nav-link" href="product">Produkty</a>
                <a class="nav-link" href="category/index">Kategorie</a>
            </div>
        </li>
    </ul>
</div>

@code {
}
